<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Halaman Insert
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-input placeholder="Judul" [(ngModel)]="judul"></ion-input>
    <ion-input placeholder="Isi" [(ngModel)]="isi"></ion-input>
    <ion-input type="date" [(ngModel)]="date"></ion-input>
    <ion-input type="number" placeholder="rating" [(ngModel)]="rating"></ion-input>
    <ion-button (click)="TambahFoto()">
      <ion-icon name="arrow-up-circle-outline"></ion-icon>
    </ion-button>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let isifoto of fotoservice.dataFoto; index as position">
          <ion-img (click)="upload(isifoto)" [src]="isifoto.webviewPath"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button (click)="add()">Add</ion-button>
   
   </div>
</ion-content>
