<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Detail Note
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-button (click)="edit()">Edit</ion-button>
   <ion-button (click)="delete()">Delete</ion-button>
  <ion-item text-warp *ngFor="let data of isidata | async">
    <div *ngIf="data.judul == judul">
    <h1 (click)="pindah(data.judul)">Judul :{{data.judul}}</h1><br>
    <p>Isi : {{data.isi}}</p><br><br>
    <p>Tanggal : {{data.date}}</p><br>
    <p>Rating : {{data.rating}}</p><br>
    <ion-button (click)="show(data.foto)">Show Photo</ion-button>
  </div>
  </ion-item>
</ion-list>
<ion-grid>
  <ion-row>
    <ion-col size="3" *ngFor="let iFoto of urlImageStorage; index as position">
      <ion-img [src]="iFoto"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
